#space1 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space2 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space3 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space4 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space5 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space6 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space7 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space8 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#space9 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
}

#message {
  font-size: 20px;
}
