#board, button#reset{
  display: none;
}

table {
  margin: auto;
}

.jumbotron {
  background-color: #5cb85c;
  color: white;
  text-align: center;
}

.square {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 70px;
  background-color: yellow;
}

#message {
  font-size: 40px;
  text-align: center;
}

body {
  background-color: pink;
}

.btn{
  font-size: 40px;
}

.buttoncenter{
  text-align: center;
}
